<section class="vh-100" style="background-color: #B22222;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Pokédex</h3>
            <form [formGroup]="form" (ngSubmit)="validData()">
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="Email" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                  formControlName="Password" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
              <button class="btn btn-primary btn-lg btn-block" style="background-color: #FFD700;color: #000000;"
                type="submit">Ingresar</button>
            </form>
            <br>
            <a href="/register">Nuevo entrenador?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>