a {
  background-color: #DC143C;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  ;
}

button {
  border: none;
  padding: 10px 40px;
  font-size: 20px;
}