<div class="text-center p-3"><button type="button" class="btn btn-outline-primary" (click)="loadAllPokemon()">Mostrar
    mis Pokémon</button></div>
<div class="pokemon-list">
  <div *ngFor="let pokemon of allPokemons">
    <figure>
      <img src="{{ pokemon.sprites.front_default }}" class="card-img-top" alt="{{ pokemon.name }}" />
      <h5 class="card-title text-capitalize">{{ pokemon.name }}</h5>
    </figure>
  </div>
</div>