.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
}

.pokemon-list div {
  padding: 10px;
  text-align: center;
}

.pokemon-list div:hover {
  background-color: red;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}